body{
	-webkit-font-smoothing: antialised;
	color: #000000;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-align: center;
}

html{
	background: url(../images/background1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p{
	font-size: 20px;
	letter-spacing: 1px;
}


.container {
	text-align: center;
	margin: 0 auto;
	background: : rgb(204, 204, 0);
	box-shadow: 0 0 100px #020506; 
}

.section {
	margin: 50px auto;

}

h2{
	font-size: 35px;
	font-weight: 100;
	border-bottom: 1px solid rgba(77, 184, 229, .33);
}

.myimage{
	border: 20px solid #000;
	display: inline-block;
	width: 140px;
	height: 140px;

}
.my-image img{
	width: 100px;
	height:;

}